<a href="https://colab.research.google.com/github/HariOS92/guvi/blob/main/KNNClassifier_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
df=pd.read_csv('trainKNN.txt',header=None)
df_test=pd.read_csv('testKNN.txt',header=None)
df.shape,df_test.shape
df

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
191  207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0   7
192  208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0   7
193  209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.0   7
194  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
195  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7

[196 rows x 11 columns]

In [44]:
df.iloc[:,-1].value_counts()
df.iloc[:,-2].value_counts()
# df.iloc[:,-3].value_counts()

0.00    135
0.17      6
0.09      6
0.10      5
0.24      5
0.11      4
0.07      3
0.14      3
0.22      3
0.12      3
0.15      2
0.08      2
0.16      2
0.28      2
0.19      2
0.18      1
0.05      1
0.21      1
0.29      1
0.25      1
0.31      1
0.34      1
0.20      1
0.32      1
0.26      1
0.30      1
0.06      1
0.01      1
Name: 9, dtype: int64

In [ ]:
# df.corr()
# df.iloc[:,-2].value_counts()
df.drop(df.columns[:-3],axis=1)
# df.iloc[:,:-3]
df.iloc[:,-3].mean(),df.iloc[:,-2].mean()

(0.16423469387755102, 0.05025510204081632)

In [ ]:
y_train=df.iloc[:,-1]
# y
df.iloc[:,:-3]
# y_train.shape,x_train.shape
x_train=df.iloc[:,:-3]
# print(df.drop(df.iloc[:,:-1],axis=1))
y_test=df_test.iloc[:,-1]
x_test=df_test.iloc[:,:-3]
x_train

       0        1      2     3     4      5     6     7
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07
..   ...      ...    ...   ...   ...    ...   ...   ...
191  207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67
192  208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47
193  209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45
194  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18
195  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40

[196 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train=sc.fit_transform(x_test)
sc.fit(x_test)

StandardScaler()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, roc_auc_score
knnEuc = KNeighborsClassifier(n_neighbors=6)
knnEuc.fit(x_train,y_train)
y_pred = knnEuc.predict(x_test)
y_pred_prob=knnEuc.predict_proba(x_test)
print('Accuracy:',accuracy_score(y_test,y_pred))
print('AUROC:',roc_auc_score(y_test,y_pred_prob,multi_class='ovr'))

Accuracy: 0.7777777777777778
AUROC: 0.9537037037037037

In [ ]:
# from sklearn.neighbors import DistanceMetric
# manmet = DistanceMetric.get_metric('manhattan')

knnMan = KNeighborsClassifier(n_neighbors=6,metric='manhattan')
knnMan.fit(x_train,y_train)
ym_pred = knnMan.predict(x_test)
ym_pred_prob=knnEuc.predict_proba(x_test)
print('Accuracy:',accuracy_score(y_test,ym_pred),'\nAUROC:',roc_auc_score(y_test,ym_pred_prob,multi_class='ovr'))

Accuracy: 0.8333333333333334
AUROC: 0.9537037037037037

With Euclidean and Manhattan metrics, there is 5 percent increase in accuracy of KNN model  but AUROC remains the same.